/* global */
/*main was (star)
* {
  box-sizing:border-box;
}
*/

body {
	font-family: Roboto, sans-serif;
	background: #eee;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0;
  display:flex;
  flex-direction: column;
  height: 100vh;
}

/* header,
main,
footer{
  border-radius: 14px;
  margin: 5px; 
} */
header{
  align-content:flex-start;
  height: 50px;
}
main {
    background-image: url("../../Assets/Images/background.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    flex: 1;
}

footer{
  align-content:flex-end;
  height: 25px;
}

footer #copyrightText{
  font: 600 1.5em/1 'Raleway', sans-serif;
  color: rgba(0,0,0,.5);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: .15em;
  /*position: absolute;
  top: 25%; */
  width: 100%;
}

main > img {
  height:100%;
}
 
header,
footer{
  background: #6cc127;

  padding: 2px;
  flex-shrink: 0;
}

header > img {
  max-width:100%;
  max-height:100%;
  margin-left:30px;
}

.openb {
  float: right;
  margin: 20px;
}

.login-modal-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: none;
}

.login-modal {
  background: #fff;
  max-width: 480px;
  width: 100%;
  height: 390px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  -webkit-box-shadow: 0 -2px 25px 0 rgba(0, 0, 0, 0.15), 0 13px 25px 0 rgba(0, 0, 0, 0.3);
  border-radius: 2px;
  padding: 30px;
}

.login-modal h1 {
  padding-top: 0;
  margin: 0;
  font-size: 18px;
  color: #333;
  padding-bottom: 10px;
}

.login-modal h2 {
  font-size: 15px;
  font-weight: 400;
  line-height: 26px;
  color: #757575;
  font-feature-settings: "kern" 1;
  font-kerning: normal;
  hyphens: auto;
  padding-bottom: 30px;
}

.login-modal .group { 
	position: relative; 
	margin-bottom: 45px; 
}

.login-modal input {
	font-size: 18px;
	padding: 10px 10px 10px 5px;
	-webkit-appearance: none;
	display: block;
	background: transparent;
	color: #636363;
	width: 100%;
	border: none;
	border-radius: 0;
	border-bottom: 1px solid #cdcdcd;
}

.login-modal input:focus {
  outline: none;
}

.login-modal label {
	color: #999; 
	font-size: 18px;
	font-weight: normal;
	position: absolute;
	pointer-events: none;
	left: 5px;
	top: 10px;
	transition: all 0.2s ease;
}

.login-modal input:focus ~ label,
.login-modal input.used ~ label {
	top: -20px;
  transform: scale(.75);
  left: -4px;
	color: #00A0E3;
}

.login-modal .bar {
	position: relative;
	display: block;
	width: 100%;
}

.login-modal .bar:before,
.login-modal .bar:after {
	content: '';
	height: 2px; 
	width: 0;
	bottom: 1px; 
	position: absolute;
	background: #00A0E3; 
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.login-modal .bar:before {
  left: 50%;
}

.login-modal .bar:after {
  right: 50%;
}

.login-modal input:focus ~ .bar:before,
.login-modal input:focus ~ .bar:after {
  width: 50%;
}

.button {
  position: relative;
  display: inline-block;
  padding: 0 24px;
  height: 38px;
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  line-height: 38px;
  -webkit-font-smoothing: antialiased;
  text-align: center;
  letter-spacing: 1px;
  background: transparent;
  border: 0;
  cursor: pointer;
  -webkit-transition: all 0.15s ease;
  -moz-transition: all 0.15s ease;
  -ms-transition: all 0.15s ease;
  -o-transition: all 0.15s ease;
  transition: all 0.15s ease;
  border-radius: 3px;
  box-shadow: 0 1px 0 rgba(0,0,0,0.05);
}

.button:focus { 
  outline: 0;
}

.button:hover {
    background: #46ADD8;
    box-shadow: inset 0 -2px 0 rgba(0,0,0,0.27);
}

.buttonBlue {
  background: #00A0E3;
  text-shadow: 1px 1px 0 rgba(39, 110, 204, .5);
}

.buttonBlue:hover { background: #0092D0; }

/* .ripples {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: transparent;
} */

/* .ripplesCircle {
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  opacity: 0;
  width: 0;
  height: 0;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.25);
} */

/* .ripples.is-active .ripplesCircle {
  animation: ripples .4s ease-in;
} */


/* @keyframes ripples {
  0% { opacity: 0; }

  25% { opacity: 1; }

  100% {
    width: 200%;
    padding-bottom: 200%;
    opacity: 0;
  }
} */
