<div id="depositWindow">
    <div class="login-modal transparent-container">
        <h2>Choose sum to deposit in $</h2>
        <div class="group">
            <div class="dropdown">
                <button class="dropbtn">Select sum</button>
                <div class="dropdown-content">
                    <a class="depositValue" href="#">$5</a>
                    <a class="depositValue" href="#">$10</a>
                    <a class="depositValue" href="#">$20</a>
                    <a class="depositValue" href="#">$50</a>
                    <a class="depositValue" href="#">$100</a>
                </div>
            </div>
        </div>
        <button class="button buttonBlue depositButton">Deposit</button>
    </div>
</div>