<div class="gameWindow">
    <video height="100%" width="100%" id="vid" hidden="true" autoplay="true">
        <source id="mp4" type="video/mp4" />
    </video>
    <!-- <video src="../Assets/Videos/0_greet.mp4" height="100%" width="100%" hidden="true" class="greet" /> -->
    <img src="../Assets/Videos/1_idle_emptyBoard.gif" height="100%" width="100%" hidden="true" id="idleEmptyBoard" class="idleEmptyBoard">
    <!-- <video src="../Assets/Videos/2_fullDeal.mp4" height="100%" width="100%" hidden="true" class="fullDeal" />
    <video src="../Assets/Videos/3_deal1To_Player.mp4" height="100%" width="100%" hidden="true" class="deal1ToPlayer" />
    <video src="../Assets/Videos/4_split_dealL.mp4" height="100%" width="100%" hidden="true" class="spltDealL" />
    <video src="../Assets/Videos/4_split_dealR.mp4" height="100%" width="100%" hidden="true" class="splitDealR" />
    <video src="../Assets/Videos/4_split.mp4" height="100%" width="100%" hidden="true" class="split" />
    <video src="../Assets/Videos/5_deal1To_Self.mp4" height="100%" width="100%" hidden="true" class="deal1ToSelf" />
    <video src="../Assets/Videos/6_player_won.mp4" height="100%" width="100%" hidden="true" class="playerWon" />
    <video src="../Assets/Videos/7_player_lost.mp4" height="100%" width="100%" hidden="true" class="playerLost" /> -->
    <img src="../Assets/Videos/8_idle_fullBoard.gif" height="100%" width="100%" hidden="true" id="idleFullBoard" class="idleFullBoard">
    <!-- <video src="../Assets/Videos/9_thanks.mp4" height="100%" width="100%" hidden="true" class="thanks" /> -->
    <div id="buttons" hidden="true">
        <button type="button" class="hit">HIT</button>
        <button type="button" class="stand">STAND</button>
        <button type="button" class="split">SPLIT</button>
        <button type="button" class="doubledown">DOUBLE DOWN</button>
        <button type="button" class="tipdealer">TIP DEALER $5</button>
    </div>
    <div id="betting">
        <input placeholder="$" class="betAmount" autofocus="autofocus" required>
        <button type="button" class="enterBet">Bet</button>
    </div>
</div>
<div class="gameInfo" hidden="true">
    <div id="playerCards">
        <img src='' class="allPlayerCards1">
        <img src='' class="allPlayerCards2">
        <img src='' class="allPlayerCards3">
        <img src='' class="allPlayerCards4">
        <img src='' class="allPlayerCards5">
        <img src='' class="allPlayerCards6">
        <img src='' class="allPlayerCards7">
    </div>
    <div id="dealerCards">
        <img src='' class="allDealerCards1">
        <img src='' class="allDealerCards2">
        <img src='' class="allDealerCards3">
        <img src='' class="allDealerCards4">
        <img src='' class="allDealerCards5">
        <img src='' class="allDealerCards6">
        <img src='' class="allDealerCards7">
    </div>
    <div class="score" id="dealerScore">
        <p id="ds"></p>
    </div>
    <div class="score" id="playerScore">
        <p id="ps"></p>
    </div>